<% layout("layouts/boilerplate")%>
    <div id="cluster-map"></div>

    <h1>キャンプ場一覧</h1>

    <% for(let campground of campgrounds) {%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if (campground.images){%>
                        <img src="<%=campground.images[0].url%>" alt="" class="img-fluid">
                    <%} else {%>
                        <img src="https://res.cloudinary.com/dmw9hdayi/image/upload/v1720301490/YelpCamp/zdgli8v3ffhjhgtmdzqv.jpg" alt="" class="img-fluid">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=campground.title %>
                        </h5>
                        <p class="card-text">
                            <%=campground.description %>
                        </p>
                        <p class="card-text"> <small class="text-muted">
                            <%=campground.location %>
                            </small></p>
                        <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">
                            <%=campground.title %>のに詳細
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <script>
        const mapToken = '<%= process.env.MAPBOX_TOKEN%>'
        const campgrounds = <%- JSON.stringify(campgrounds) %>  //jsonに変換する為にstringify()を実行し、-で記述をする事で、ブラウザに読み込める。※ただし560.JOIでHTMLのサニタイズで対応するXSSの脅威が発生する点に注意！！
    </script>
    <script src="javascripts/clusterMap.js"></script>